A préparer dans votre environnement habituel (notebook ?)   
Vous commencez à travailler seuls sur les données (mais à partir de demain matin groupe de 5)   

But 1 = Comprendre les données (variables, valeurs...) et le besoin.   
Pourquoi le client a-t-il besoin de moi ? De quoi parlent ses données ?  

But 2 = Feature engineering (cleaner ? modifier des colonnes ? nouvelles variables ?). Il faut s'approprier la base

But 3 = Se représenter les données : faire des viz pour mieux comprendre. Utiliser seaborn

In [14]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

## Import dataset avec exclusion header & footer

In [15]:
df = pd.read_excel('DATABASE.xls', index_col=0, skiprows=[0,1,2], skipfooter=42)

## Renommage colonnes

In [16]:
# list(df.columns)

In [17]:
df = df.rename(columns={'Sender c': 'Sender1', 
                        'Sender 2c': 'Sender2', 
                        'Sender 3c': 'Sender3', 
                        'Targetd': 'Target',
                        'US casee': 'US_case', 
                        'US unilateral casef': 'US_unilateral_case', 
                        'Foreign policy goal categoryg': 'Goal_categ', 
                        'First yearh': 'First_year',
                        'Last yeari': 'Last_year', 
                        'Policy resultj': 'Policy_result', 
                        'Sanctions contributionk': 'Sanctions_contrib',
                        'Success \nscorel': 'Success_score', 
                        'Companion policiesm': 'Comp_policies', 
                        'International cooperationn':'Int_coop', 
                        'International assistanceo': 'Int_assistance', 
                        'Cooperating international organizationp': 'Coop_int_org',
                        'International organization senderq': 'Int_org_sender', 
                        'International organization sender & target membersr': 'Int_org_sender_&_target_members', 
                        'Length (years)s': 'Length_(years)s',
                        'Prior relationst': 'Prior_relations', 
                        'Regime Type \n(DEMOC 1st year)u': 'Regime_type', 
                        'Regime Type2 (Polity2 1st year)v': 'Regime_type2', 
                        'Regime Type3 \n(Scale 1st year)w': 'Regime_type3',
                        'Political stability priorx': 'Political_stability_prior', 
                        'Political stability duringy': 'Political_stability_during',
                        'Cost to targetz': 'Cost_to_target', 
                        'Cost to target (percent of GNP)aa': 'Cost_to_target_%GNP)',
                        'Cost to target per capitabb': 'Cost_to_target_per_capita', 
                        'Trade linkagecc': 'Trade_linkage', 
                        'GNP \nratiodd': 'GNP_ratio',
                        'Health and stabilityee': 'Health_and_stability', 
                        'Sanction typeff': 'Sanction_type', 
                        'Cost to sendergg': 'Cost_to_sender',
                        'GDP growth (percent, 5-year average)hh': 'GDP_growth%5years_average', 
                        'Inflation (percent,\n 3-year average)ii':'Inflation%3years_average', 
                        'Target International Monetary Fund codejj': 'Target_int_monetary_code', 
                        'Country groupkk': 'Country_group'
                       })

In [18]:
df.index.names = ['id_case']

In [19]:
df.head()

                   Sender1 Sender2 Sender3      Target                             Goal  US_case  US_unilateral_case  Goal_categ  First_year Last_year  Policy_result  Sanctions_contrib  Success_score Comp_policies  Int_coop Int_assistance Coop_int_org  Int_org_sender  Int_org_sender_&_target_members  Length_(years)s  Prior_relations Regime_type Regime_type2 Regime_type3 Political_stability_prior Political_stability_during Cost_to_target Cost_to_target_%GNP) Cost_to_target_per_capita Trade_linkage  GNP_ratio  Health_and_stability Sanction_type  Cost_to_sender GDP_growth%5years_average Inflation%3years_average Target_int_monetary_code  Country_group
id_case
14-1        UNITED KINGDOM     NaN     NaN     GERMANY                 Military victory        0                   0           4        1914      1918              4                  3             12             R         4              A           --               0                                0                4                1           5            2            2                         0                          0            843                  7.1                     12.58             9        1.0                     3         F,X,M               4                      3.58                  2.86667                      134              1
17-1         UNITED STATES     NaN     NaN       JAPAN              Shipping for Allies        1                   1           5        1917      1918              2                  2              4            --         1             --           --               0                                0                1                2           5            1            2                         0                          0             23                  0.8                      0.44          20.5       13.0                     3             X               2                       5.4                     25.6                      158              1
18-1        UNITED KINGDOM     NaN     NaN      RUSSIA           Destabilize Bolsheviks        0                   0           2        1918      1920              1                  2              2           R,Q         4             --           --               0                                0                2                1           1           -1            2                       0.1                          0            446                  4.1                      2.49          18.5        1.0                     1         F,X,M               3                      n.a.                     n.a.                      922              2
21-1     LEAGUE OF NATIONS     NaN     NaN  YUGOSLAVIA  Military disruption vs. Albania        0                   0           3        1921      1921              4                  4             16            --         4             --           --               1                                1                1                2           3            0            2                       0.4                          0             --                   --                        --          26.5       37.0                     2            --               2                      -1.5                     n.a.                      188              2
25-1     LEAGUE OF NATIONS     NaN     NaN      GREECE           Withdraw from Bulgaria        0                   0           3        1925      1925              4                  4             16            --         4             --           --               1                                1                1                2           0           -6            1                       0.9                          0             --                   --                        --            36       56.0                     2            --               2                       3.3                     48.8                      174              1

## Shape & dtypes

In [20]:
print('shape = ', df.shape)

shape =  (204, 38)

## Valeurs manquantes

In [21]:
df.isna().sum()

Sender1                              0
Sender2                            145
Sender3                            192
Target                               0
Goal                                 0
US_case                              0
US_unilateral_case                   0
Goal_categ                           0
First_year                           0
Last_year                            0
Policy_result                        0
Sanctions_contrib                    0
Success_score                        0
Comp_policies                        0
Int_coop                             0
Int_assistance                       0
Coop_int_org                         0
Int_org_sender                       0
Int_org_sender_&_target_members      0
Length_(years)s                      0
Prior_relations                      0
Regime_type                          0
Regime_type2                         0
Regime_type3                         0
Political_stability_prior            0
Political_stability_during           0
Cost_to_target                       0
Cost_to_target_%GNP)                 0
Cost_to_target_per_capita            0
Trade_linkage                        0
GNP_ratio                            0
Health_and_stability                 0
Sanction_type                        0
Cost_to_sender                       0
GDP_growth%5years_average            0
Inflation%3years_average             0
Target_int_monetary_code             0
Country_group                        0
dtype: int64

In [22]:
# df['wire amount'] = df['wire amount'].str.slice(1, None).astype(float)
# df['Date of Arrest'] = pd.to_datetime(df['Date of Arrest'])

In [23]:
list(df.columns)

['Sender1',
 'Sender2',
 'Sender3',
 'Target',
 'Goal',
 'US_case',
 'US_unilateral_case',
 'Goal_categ',
 'First_year',
 'Last_year',
 'Policy_result',
 'Sanctions_contrib',
 'Success_score',
 'Comp_policies',
 'Int_coop',
 'Int_assistance',
 'Coop_int_org',
 'Int_org_sender',
 'Int_org_sender_&_target_members',
 'Length_(years)s',
 'Prior_relations',
 'Regime_type',
 'Regime_type2',
 'Regime_type3',
 'Political_stability_prior',
 'Political_stability_during',
 'Cost_to_target',
 'Cost_to_target_%GNP)',
 'Cost_to_target_per_capita',
 'Trade_linkage',
 'GNP_ratio',
 'Health_and_stability',
 'Sanction_type',
 'Cost_to_sender',
 'GDP_growth%5years_average',
 'Inflation%3years_average',
 'Target_int_monetary_code',
 'Country_group']

In [24]:
# Valeurs manquantes df['Last_year']
# df['First_year'] = df['First_year'].to_string
# df['Last_year'] = df['Last_year'].to_string


# df['Last_year'] = df['Last_year'].str.replace('--', '1900')

# df['First_year'] = df['First_year'].astype(int)
# df['Last_year'] = df['Last_year'].astype(int)

In [25]:
df.dtypes

Sender1                             object
Sender2                             object
Sender3                             object
Target                              object
Goal                                object
US_case                              int64
US_unilateral_case                   int64
Goal_categ                           int64
First_year                           int64
Last_year                           object
Policy_result                        int64
Sanctions_contrib                    int64
Success_score                        int64
Comp_policies                       object
Int_coop                             int64
Int_assistance                      object
Coop_int_org                        object
Int_org_sender                       int64
Int_org_sender_&_target_members      int64
Length_(years)s                      int64
Prior_relations                      int64
Regime_type                         object
Regime_type2                        object
Regime_type3                        object
Political_stability_prior           object
Political_stability_during          object
Cost_to_target                      object
Cost_to_target_%GNP)                object
Cost_to_target_per_capita           object
Trade_linkage                       object
GNP_ratio                          float64
Health_and_stability                 int64
Sanction_type                       object
Cost_to_sender                       int64
GDP_growth%5years_average           object
Inflation%3years_average            object
Target_int_monetary_code            object
Country_group                        int64
dtype: object

In [26]:
df.head(50)

                   Sender1          Sender2 Sender3                                     Target                                        Goal  US_case  US_unilateral_case  Goal_categ  First_year Last_year  Policy_result  Sanctions_contrib  Success_score Comp_policies  Int_coop Int_assistance Coop_int_org  Int_org_sender  Int_org_sender_&_target_members  Length_(years)s  Prior_relations Regime_type Regime_type2 Regime_type3 Political_stability_prior Political_stability_during Cost_to_target Cost_to_target_%GNP) Cost_to_target_per_capita Trade_linkage  GNP_ratio  Health_and_stability Sanction_type  Cost_to_sender GDP_growth%5years_average Inflation%3years_average Target_int_monetary_code  Country_group
id_case
14-1        UNITED KINGDOM              NaN     NaN                                    GERMANY                            Military victory        0                   0           4        1914      1918              4                  3             12             R         4              A           --               0                                0                4                1           5            2            2                         0                          0            843                  7.1                     12.58             9       1.00                     3         F,X,M               4                      3.58                  2.86667                      134              1
17-1         UNITED STATES              NaN     NaN                                      JAPAN                         Shipping for Allies        1                   1           5        1917      1918              2                  2              4            --         1             --           --               0                                0                1                2           5            1            2                         0                          0             23                  0.8                      0.44          20.5      13.00                     3             X               2                       5.4                     25.6                      158              1
18-1        UNITED KINGDOM              NaN     NaN                                     RUSSIA                      Destabilize Bolsheviks        0                   0           2        1918      1920              1                  2              2           R,Q         4             --           --               0                                0                2                1           1           -1            2                       0.1                          0            446                  4.1                      2.49          18.5       1.00                     1         F,X,M               3                      n.a.                     n.a.                      922              2
21-1     LEAGUE OF NATIONS              NaN     NaN                                 YUGOSLAVIA             Military disruption vs. Albania        0                   0           3        1921      1921              4                  4             16            --         4             --           --               1                                1                1                2           3            0            2                       0.4                          0             --                   --                        --          26.5      37.00                     2            --               2                      -1.5                     n.a.                      188              2
25-1     LEAGUE OF NATIONS              NaN     NaN                                     GREECE                      Withdraw from Bulgaria        0                   0           3        1925      1925              4                  4             16            --         4             --           --               1                                1                1                2           0           -6            1                       0.9                          0             --                   --                        --            36      56.00                     2            --               2                       3.3                     48.8                      174              1
32-1     LEAGUE OF NATIONS              NaN     NaN                        (PARAGUAY), BOLIVIA                        Settle the Chaco War        0                   0           3        1932      1935              3                  2              6            --         3             --           --               1                                1                3                2           4            2            2                         0                          0            2.5                  2.6                       0.8            63     322.00                     2             X               2                      n.a.                     n.a.                      218              3
32-1     LEAGUE OF NATIONS              NaN     NaN                         PARAGUAY,(BOLIVIA)                        Settle the Chaco War        0                   0           3        1932      1935              3                  2              6            --         3             --           --               1                                1                3                2           1           -3            2                         0                          0          0.001                0.001                     0.001          59.5     735.00                     2             X               2                      n.a.                     n.a.                      288              3
33-1        UNITED KINGDOM              NaN     NaN                                       USSR                    Release British citizens        0                   0           1        1933      1933              4                  3             12            --         1             --           --               0                                0                1                1           0           -9            1                         0                          0              4                 0.02                      0.02            13       1.00                     2             M               2                      2.35                     n.a.                      974              2
35-1     LEAGUE OF NATIONS   UNITED KINGDOM     NaN                                      ITALY                     Withdraw from Abyssinia        0                   0           3        1935      1936              1                  2              2            --         4              A           --               1                                1                1                2           0           -9            1                       0.3                          0             86                  1.7                      1.98            16       6.00                     3         F,X,M               3                     -0.52                     -4.4                      136              1
38-1         UNITED STATES   UNITED KINGDOM     NaN                                     MEXICO                       Expropriation dispute        1                   0           1        1938      1947              3                  3              9            --         2             --           --               0                                0                9                2           0           -6            1                       0.1                          0              2                  0.2                      0.11          69.5      75.00                     3           F,M               2                      7.38                  2.06667                      273              3
39-1         UNITED STATES  ALLIANCE POWERS     NaN                           GERMANY, (JAPAN)                               Regime change        1                   0           2        1939      1945              4                  2              8             R         4             --           --               0                                0                6                1           0           -9            1                       0.1                          0            400                 1.41                      5.77          10.8       3.11                     3         F,X,M               4                   7.84139                 0.833333                      134              1
39-1         UNITED STATES  ALLIANCE POWERS     NaN                           (GERMANY), JAPAN                               Regime change        1                   0           2        1941      1945              4                  2              8             R         4             --           --               0                                0                4                1           5            1            2                         0                          0            288                 1.89                      3.98          24.1       5.71                     3         F,X,M               4                      4.36                  9.66667                      158              1
39-1         UNITED STATES  ALLIANCE POWERS     NaN                           GERMANY, (JAPAN)                            Military victory        1                   0           4        1939      1945              4                  3             12             R         4             --           --               0                                0                6                1           0           -9            1                       0.1                          0            400                 1.41                      5.77          10.8       3.11                     3         F,X,M               4                   7.84139                 0.833333                      134              1
39-1         UNITED STATES  ALLIANCE POWERS     NaN                           (GERMANY), JAPAN                            Military victory        1                   0           4        1941      1945              4                  3             12             R         4             --           --               0                                0                4                1           5            1            2                         0                          0            288                 1.89                      3.98          24.1       5.71                     3         F,X,M               4                      4.36                  9.66667                      158              1
40-1         UNITED STATES              NaN     NaN                                      JAPAN                Withdraw from Southeast Asia        1                   1           3        1940      1941              1                  1              1            --         2             --           --               0                                0                1                1           5            1            2                         0                          0             88                  0.9                      1.21            31      11.00                     3           F,X               3                      7.48                     11.9                      158              1
44-1         UNITED STATES              NaN     NaN                                  ARGENTINA                           Destabilize Peron        1                   1           2        1944      1947              2                  2              4            --         2             --           --               0                                0                3                2           0           -8            1                       0.2                   0.333333             29                  0.8                      1.82          19.5      58.00                     2           F,X               2                       2.2                  3.13333                      213              3
46-1           ARAB LEAGUE              NaN     NaN                                     ISRAEL                 Create Palestinian homeland        0                   0           5        1946        --              2                  2              4             R         3              A           --               1                                0               60                1          10           10            3                       0.1                          0            346                  1.7                      84.9             2      11.00                     3         F,X,M               4                      n.a.                     n.a.                      436              4
48-1         UNITED STATES              NaN     NaN                                NETHERLANDS                         Recognize Indonesia        1                   1           5        1948      1949              4                  4             16            --         1             --           UN               0                                1                1                3          10           10            3                       0.7                          0             14                  0.2                      1.43             9      45.00                     2             F               1                     10.34                     10.2                      138              1
48-2                 INDIA              NaN     NaN                                  HYDERABAD                        Assimilate Hyderabad        0                   0           5        1948      1948              4                  2              8             R         1             --           --               0                                0                1                3        n.a.         n.a.         n.a.                      n.a.                       n.a.             18                    2                       1.1            99      22.00                     2           F,X               2                      n.a.                     n.a.                       --              5
48-3                  USSR              NaN     NaN  (UNITED STATES), UNITED KINGDOM, (FRANCE)                             Berlin blockade        0                   0           5        1948      1949              1                  2              2             Q         1              A           --               0                                0                1                1          10           10            3                         0                          0           25.8                  0.1                      0.51           0.9       3.91                     3           X,M               3                     -2.38                      0.4                      112              1
48-3                  USSR              NaN     NaN    UNITED STATES, (UNITED KINGDOM, FRANCE)                             Berlin blockade        0                   0           5        1948      1949              1                  2              2             Q         1              A           --               0                                0                1                1          10           10            3                         0                          0          225.5                  0.1                      1.53          0.74       0.50                     3           X,M               3                      0.44                  8.46667                      111              1
48-3                  USSR              NaN     NaN    (UNITED STATES, UNITED KINGDOM), FRANCE                             Berlin blockade        0                   0           5        1948      1949              1                  2              2             Q         1              A           --               0                                0                1                1          10           10            3                       0.4                          0          0.001                0.001                     0.001          0.18       5.07                     3           X,M               3                      9.68                  49.9667                      132              1
48-4                  USSR              NaN     NaN                                 YUGOSLAVIA                 Destabilize Tito government        0                   0           2        1948      1955              1                  1              1             Q         4              A           --               0                                0                7                3           0           -7            1                       0.6                   0.571429            -76                 -2.5                     -4.47            13      52.00                     2         F,X,M               1                      n.a.                     n.a.                      188              2
48-5         UNITED STATES            COCOM     NaN                              USSR, COMECON                   Impair military potential        1                   0           4        1948      1994              3                  2              6            --         4             --           --               1                                0               46                1           0           -9            1                         0                  0.0434783            706                  0.2                      2.19            23       3.00                     3             X               3                      2.18                     n.a.                      974              2
49-1         UNITED STATES          CHINCOM     NaN                                      CHINA                   Impair military potential        1                   0           4        1949      1970              1                  2              2            --         3              A           --               1                                0               21                1           0           -8            1                       0.9                          0            106                  0.5                       0.2            38      13.00                     3         F,X,M               3                      n.a.                     n.a.                      924              5
49-1         UNITED STATES          CHINCOM     NaN                                      CHINA                  Military disruption, Korea        1                   0           4        1950      1953              1                  2              2           R,Q         3              A           UN               1                                1                3                1           0           -8            1                       0.9                          0            106                  0.5                       0.2            38      13.00                     3         F,X,M               3                      n.a.                     n.a.                      924              5
50-1         UNITED STATES   UNITED NATIONS     NaN                                NORTH KOREA                               Regime change        1                   0           2        1950        --              1                  1              1             R         4              A           --               1                                0               56                1           0           -7            1                       0.1                          0              8                  1.2                      0.83            20     378.00                     2         F,X,M               2                      n.a.                     n.a.                      954              5